streamlit
python-dotenv
openai
langchain-together
langchain-chroma
pdfminer
pinecone-notebooks
streamlit-ext
langchain-text-splitters
tavily-python
fitz
umap
umap-learn
langchain-huggingface
pymupdf
pinecone-client
langchain-pinecone
langchain
PyMuPDF
sounddevice